body {
    margin: 0;
    padding: 0;
    background-color: #000000e0;
    color: white;
    height: 100%;
    overflow: hidden;
}

#topbar {
    background-color: #000000;
    text-align: start;
    height: 10vh;
    border-bottom: solid 1.5vh white;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
}

#programTitle {
    position: relative;
    font-size: 2.5em;
    left: 0;
    bottom: -2vh;
}

#container {
    display: flex;
}

#leftside {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(30deg, rgb(24,24,24,24), rgb(0,0,0,0.943));
    background-color: #ffffff;
    width: 20%;
    height: 100vh;
}

#rightside {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    width: 80%;
    padding: 10px;
    align-items: center;
}

#rightContainer {
    width: fit-content;
}

#topRight {
    background-color: #171717;
    display: flex;
    height: 44vh;
    width: 100%;
    border-bottom: 2px solid white;
}

#topRightLeft {
    background-color: #171717;
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid white;
}

#topRightRight {
    border-left: 2px solid white;
    background-color: #171717;
    display: flex;
    flex: 1;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bottomRight {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 42vh;
    overflow-x: auto;
    background-color: #171717;
    
}

#bottomRight:hover {
    #multiplieChoise {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
}

.left-divcontainer {
    display: inline;
    text-align: center;
    margin-left: 22vh;
    width: fit-content;
    border: 2px solid white;
    margin-top: 5vh;
    margin-bottom: 5vh;
    transition: box-shadow 1s ease;
}

.left-divcontainer:hover {
    box-shadow: 0px 0px 11px 3px #ffffff4a;
    transition: box-shadow 0.4s ease;
}

.list-collection {
    width: fit-content;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    max-height: 25vh;
    border: 1px solid white;
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.list-item {
    padding-bottom: 3px;
}

.list-item:hover, .child:hover, .group-name:hover{
    background-color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

.group-name {
    color: white;
    text-align: center;
    border: 2px solid white;
    margin: 0.6em 0.6em 0.6em 0.6em;
    padding: 0.6em;
    align-content: center;
    white-space: nowrap;
}

#groupMaker, #colorWheel {
    background: transparent;
    color: white;
    border: 1px solid white;
    width: 100%;
    height: 2.5rem;
    transition: font-size 0.4s ease;
}

#groupMaker:hover, #colorWheel:hover {
    font-size: 0.9em;
}

#multiplieChoise {
    display: none;
}

#delete {
    padding-top: 5px;
    cursor: pointer;
}

#copy {
    padding-top: 5px;
    cursor: pointer;
}

#download {
    padding-top: 5px;
    cursor: pointer;
}


