body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#topbar {
    min-height: 50px;
    display: flex;
    background-color: #000000e0;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    height: 7vh;
    border-bottom: 5px solid rgb(255, 255, 255);
    max-height: 100%;
}

#programTitle {
    font-size: 3rem;
    display: flex;
    flex: 1;
}

#container {
    display: flex;
    flex: 1;
}

#leftside {
    background-image: linear-gradient(30deg, rgb(24, 24, 24), rgba(0, 0, 0, 0.943));
    flex: 1;
    background-color: #eee;
}

#rightside {
    flex: 4;
    display: flex;
    flex-direction: column;

}

#rightside2 {
    display: none;
    flex: 4;
    flex-direction: column;
}

#topRight {
    background-color: #171717;
    flex: 1;
    padding: 20px;
    display: flex;
    overflow: hidden;
    max-width: 100vw;
}

#topRightLeft {
    background-color: #171717;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid white;
}

#topRightRight {
    display: flex;
    background-color: #171717;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-left: 2px solid white;
}

#bottomRight {
    border-top: 5px solid #ffffff;
    display: flex;
    background-color: #171717;
    flex: 1;
    padding: 20px;
}

.list-collection {
    color: #ffffff;
    margin-right: 10px;
    padding-right: 10px;
    overflow-y: auto;
    max-height: 150px;
    scrollbar-width: thin;
    width: fit-content;
    position: relative;
    border: 1px solid;

}

.list-item {
    margin-bottom: 10px;
    
}

#namnLista {
    size: 3em;
    margin-bottom: 10px;
}

#skapaNamnLista {
    width: 100px;
    height: 25px;
}

#rightContainer {
    height: 120px;
    display: flex;
    flex-direction: column;
}

#chooseGroup {
    display: block;
    color: white;
}

#randomName {
    display: block;
    margin-top: 45px;
    border-radius: 6px;
}

#randomName:hover {
    box-shadow: 4px 4px 20px 4px rgba(0,0,0,0.19);
}

.left-divcontainer {
    display: inline;
    width: fit-content;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 100px;
    padding: 10px;
    transition: box-shadow 1.4s ease;
}

.left-divcontainer:hover {
    box-shadow: 0px 0px 11px 3px #ffffff4a;
    transition: box-shadow 0.4s ease;
}

.child {
    color: #ffffff;
}

.list-item:hover , .child:hover {
    text-decoration: underline;
}

#groupMaker, #colorWheel {
    color: white;
    background: transparent;
    width: 100%;
    border: 1px solid #f6f6f6a7;
    height: 2.5rem;
    transition: font-size 0.3s ease;
}

#groupMaker:hover, #colorWheel:hover {
    font-size: 0.9em;
    text-decoration: underline;
}

.group-name {
    color: white;
    text-align: center;
    border: 2px solid #fffffffa;
    margin: 0 0.6em 0.6em 0.6em;
    padding: 0.2em;
    align-content: center;
    white-space: nowrap;
}

